.interval-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.session-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    /*border: solid 1px;
    background-color: grey;*/
    margin: 5px 5px 20px 5px;
}

.session-container p {
    text-indent: 1em;
}

.image-container {
    width: 34%;
    /* display: inline-block; */
    /* flex-direction: row; */
    justify-content: center;
    /*border: solid 1px;*/
    margin: 5px 5px 20px 5px;
}

/* img {
    margin: 0;
    padding: 0;
} */
.image-item {
    width: 32%;
    height: auto;
}

.note-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border: solid 1px;*/
    margin: 5px 5px 20px 5px;
}
.answer-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.answer-button {
    background-color: white;
}
.answer-button-answered {
    background-color: grey;
}