@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light-webfont.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App-container {
    display: flex;
    justify-content: center;
  }

  .App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;

    font-family: 'Roboto';
    font-size: 18px;  
    
  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
  }
  .date {
    margin-left: 20px;
  }
  .menu {
    /*border: 1px solid #fff;*/
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    /*border: 1px solid #fff;*/  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
    margin-right: 20px
  }

  button {
    padding: 15px 10px 15px 10px;
    margin: 10px 5px 10px 5px;
    border: 1px solid black;
  }

  .debug-button {
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
  }
